# Ignore all project gitignore files.
**/.gitignore

# Ignore projects that are not "up-to-snuff"
03_Keyword_Vegan
04_Netflix_Season_3
05_Evacuation_Tweet
06_Moments_In_Flow

# Ignore projects_panding file
projects_pending

# Ignore all data files (they are likely very large).
*/data/*
*/datasets/*
*/creds/*
*/creedentials/*
